/* Login.css */

.login-container {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh; /* Ocupa toda a altura da tela */
   background-color: #f4f4f4; /* Cor de fundo */
 }
 
 .login-form {
   width: 100%;
   max-width: 400px; /* Largura máxima do formulário */
   padding: 20px;
   background-color: #fff;
   border-radius: 8px;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombras mais pronunciadas */
   display: flex;
   flex-direction: column;
   align-items: center;
 }
 
 .login-form h2 {
   font-size: 2em;
   color: #007bff;
   margin-bottom: 20px;
 }
 
 .login-form input {
   width: 100%;
   padding: 15px;
   margin-bottom: 15px;
   border: 1px solid #ddd;
   border-radius: 4px;
   font-size: 1em;
 }
 
 .login-form input:focus {
   border-color: #007bff;
   outline: none;
   box-shadow: 0 0 8px rgba(0, 123, 255, 0.3);
 }
 
 .login-form button {
   width: 100%;
   padding: 15px;
   background-color: #007bff;
   color: white;
   border: none;
   border-radius: 4px;
   font-size: 1.2em;
   cursor: pointer;
   transition: background-color 0.3s ease;
 }
 
 .login-form button:hover {
   background-color: #0056b3;
 }
 
 .login-form p {
   margin-top: 15px;
 }
 
 .login-form a {
   color: #007bff;
   text-decoration: none;
 }
 
 .login-form a:hover {
   text-decoration: underline;
 }
 